body {
    text-align: center;
}


.hide {
	display: none;
}

.modal-bg {
	width: 200px;
	height: 100px;
	background: white;
	border-color: black;
	border-radius: 1px;

	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.modal-button {
	position: absolute;
	left: 50%;
	top: 70%;
	transform: translate(-50%, -50%);

}